@import "tailwindcss";

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: #9CA3AF;
}



p{
  margin-bottom: 0;
}
.tag-a {
  color: #9CA3AF;
  border: solid 1px #9CA3AF;
}
.tag-a:hover {
  color: #ffffff;
  border: solid 1px #ffffff;
}
footer .ctgr:hover{
  color: #f59f0bb7;
}