@import "tailwindcss";
.lakki-reddy-regular {
  font-family: "Lakki Reddy", serif;
  font-weight: 400;
  font-style: normal;
}
.scrollbar-hidden {
  /* Ẩn thanh cuộn cho các trình duyệt hiện đại */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari và các trình duyệt dựa trên WebKit */
}